.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

body {
  background-color: bisque;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: darkgray 1px solid;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  border: black 1px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.recipes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  width: 100%;
  border: darkgray 5px solid;
}
.recipes-container li {
  display: flex;
  align-items: center;
}
/* .recipes-container img {
  width: 200px;
  height: 200px;
} */
.recipes-container h2 {
  text-align: left;
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
